@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap");

body {
  margin: 0;
}

.container1-audio {
  background-color: #032131;
  padding: 1% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 6%;
}

.heading-mandal-name {
  font-family: "Hind Siliguri", sans-serif;
  color: #fff;
}

.container2-audio {
  color: #fff;
  background-image: url("pregnant-lady-bg-img2.png");
  background-size: cover;
  background-position: center;
  height: 932px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ankuram {
  margin-top: 0;
  font-family: "Tiro Devanagari Hindi", serif;
  padding: 0 8%;
  font-size: 3.5rem;
  text-align: left;
  margin-bottom: 0;
}

.text {
  padding: 0 8%;
  font-family: "Tiro Devanagari Hindi", serif;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 0;
  width: 25%;
}

.controls {
  margin-top: 2%;
  padding: 0 8%;
}

.button {
  border: none;
  padding: 1% 2%;
  background-color: #032131;
  font-family: "Hind Siliguri", sans-serif;
  color: #fff;
  font-size: 1.4rem;
  width: 16%;
  margin-bottom: 2%;
}

.button:hover {
  cursor: pointer;
  background-color: #83a0b0;
  color: #000;
}

.slider-btn {
  font-size: 1.4rem;
  font-family: "Hind Siliguri", sans-serif;
}

.fa-xl {
  margin-right: 5%;
}

@media only screen and (min-width: 1110px) and (max-width: 1370px) {
  .heading-mandal-name {
    font-size: 1.5rem;
  }

  .container2-audio {
    height: 565px;
  }

  .text {
    font-size: 1.5rem;
    width: 28%;
  }

  .button {
    font-size: 1rem;
  }

  .slider-btn {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 610px) and (max-width: 1100px) {
  .container1-audio {
    background-color: #032131;
    padding: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container2-audio {
    color: #000;
    background-image: url("pregnant-lady-bg-img.png");
    height: 938px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .ankuram {
    padding: 0 4%;
    font-size: 3.2rem;
  }
  
  .text {
    padding: 0 4%;
    font-size: 1.5rem;
    width: 30%;
  }
  
  .controls {
    margin-top: 5%;
    padding: 0 4%;
  }
  
  .button {
    font-size: 1.5rem;
    width: 30%;
  }
  
  .button:hover {
    cursor: pointer;
    background-color: #83a0b0;
    color: #000;
  }
  
  .slider-btn {
    font-size: 1.5rem;
    font-family: "Hind Siliguri", sans-serif;
    margin-top: 3%;
  }
  
  .fa-xl {
    margin-right: 5%;
  }
}

/*----------------------PHONE----------------------*/
@media only screen and (max-width: 600px) {
  .container1-audio {
    padding: 8% 4%;
    display: block;
    text-align: center;
  }

  .logo {
    width: 15%;
  }

  .heading-mandal-name {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .ankuram {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 0;
    font-weight: bold;
    padding: 0 4%;
  }

  .container2-audio {
    background-image: url("pregnant-lady-bg-img.png");
    height: 630px;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    color: #000;
  }

  .text {
    padding: 10% 4% 0 4%;
    font-size: 1.5rem;
    margin-top: 0;
    width: 60%;
  }

  .controls {
    margin-top: 4%;
    padding: 0 4%;
  }

  .button {
    padding: 4% 2%;
    font-size: 1rem;
    width: 53%;
    margin-bottom: 4%;
  }

  .slider-btn {
    font-size: 1rem;
  }
  
  .fa-xl {
    margin-right: 5%;
  }
  
}
